 @font-face {
    font-family: 'League Gothic';
    src: url("./fonts/LeagueGotic.otf");
} 

@font-face {
    font-family: 'Gothic A1';
    src: url("./fonts/GothicA1-Regular.ttf");
} 

@font-face {
    font-family: 'Gothic A1';
    src: url("./fonts/GothicA1-ExtraBold.ttf");
    font-weight: 800;
} 

:root {
    --red: #EE171F;
    --light-red: #ED2F36;
    --light-blue: #0A43B2;
    --dark-blue: #032059;
    --light-pink: #F2EAE4;
    --black: #212121;
}

html {
    font-size: 62.5%;
    background-color: var(--light-pink);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}