@font-face {
  font-family: "League Gothic";
  src: url("./fonts/LeagueGotic.otf");
}

@font-face {
  font-family: "Gothic A1";
  src: url("./fonts/GothicA1-Regular.ttf");
}

@font-face {
  font-family: "Gothic A1";
  src: url("./fonts/GothicA1-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Gothic A1";
  src: url("./fonts/GothicA1-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Gothic A1";
  src: url("./fonts/GothicA1-Light.ttf");
  font-weight: 300;
}

:root {
  --red: #ee171f;
  --light-red: #ed2f36;
  --light-blue: #0a43b2;
  --dark-blue: #032059;
  --light-pink: #f2eae4;
  --black: #212121;
  --salmon: #e8a0a3;
}

html {
  font-size: 62.5%;
  background-color: var(--light-pink);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
